<div class="page-account-list" role="page">
    <div class="page-header">
        <h1><%= polyglot.t('Account') %></h1>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="#account/add">
            <%=polyglot.t('Add Account')%>
            <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
        <% _.forEach(account_list, function(entry){ %>
            <a class="list-group-item clearfix" href="#account/update/<%= entry.get('name') %>">
                <span class="pull-left">
                    <%= entry.get('name') %>
                    <br/>
                    <small class="text-muted"><%= MMB.util.number_format(MMB.get_account_balance(entry.getId())) %></small>
                </span>

                <span class="glyphicon glyphicon-pencil pull-right"></span>
            </a>
        <% }); %>
    </div>
</div>