<div class="page-category2-update">
    <div class="page-header">
        <h1>
            <%= category.get('cat2') %> <%= polyglot.t('update') %>
        </h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="#category/list"><%= polyglot.t('Category Setting') %></a></li>
        <li>
            <a href="#category/list/<%=category.get('behavior_type')%>/<%=category.get('cat1')%>">
                <%= category.get('cat1') %>
            </a>
        </li>
        <li><%= category.get('cat2') %> <%= polyglot.t('update') %></li>
    </ol>

    <form role="form" class="form-horizontal js-category-update-form">
        <input name="id" type="hidden" value="<%= category.getId() %>"/>
        <input id="cat1" name="cat1" type="hidden" value="<%= category.get('cat1') %>"/>
        <div class="form-group">
            <label class="control-label col-xs-3" for="cat2"><%=polyglot.t('Name')%></label>
            <div class="col-xs-9">
                <input class="form-control" type="text" name="cat2" id="cat2" value="<%= category.get('cat2') %>"/>
            </div>
        </div>
        <p>
            <input class="btn btn-block btn-primary" type="submit" value="<%= polyglot.t('Save') %>"/>
        </p>
    </form>

    <h2>일괄 이동</h2>
    <p>이 카테고리의 아이템을 모두 다른 카테고리로 이동합니다.</p>

    <form role="form" class="js-move-to-category-form">
        <input name="behavior_type" type="hidden" value="<%= category.get('behavior_type') %>"/>
        <input name="id" type="hidden" value="<%= category.getId() %>"/>
        <div class="form-group">
            <label for="category">이동 대상 카테고리</label>
            <input class="form-control js-filter-candidates js-move-to-category" type="text" name="category" id="category"/>
            <div class="auto-complete-box clearfix" data-key="category"></div>
        </div>
        <p>
            <input class="btn btn-block btn-default" type="submit" value="<%= polyglot.t('Move') %>"/>
        </p>
    </form>

    <h2 class="text-right">삭제</h2>
    <p class="pull-right">
        <a class="btn btn-danger js-category-delete" href="#"
           data-cat1="<%= category.get('cat1') %>"
           data-cat2="<%= category.get('cat2') %>"
           data-behavior-type="<%= category.get('behavior_type') %>">
            <span class="glyphicon glyphicon-remove"></span>
            '<%= category.get('cat2') %>' <%=polyglot.t('Category')%> <%=polyglot.t('Delete')%>
        </a>
    </p>
</div>