<div class="page-header">
    <h1>
        <%= polyglot.t('Export') %>
    </h1>
</div>

<p><%= polyglot.t('Copy below. Paste it to excel.') %></p>

<textarea style="width: 100%; height: 400px"><%=
    polyglot.t('date') 
    + "\t" +
    polyglot.t('behavior type') 
    + "\t" +
    polyglot.t('memo') 
    + "\t" +
    polyglot.t('amount') 
    + "\t" +
    polyglot.t('category') 
    + "\t" +
    polyglot.t('account') 
    + "\t" +
    polyglot.t('to account') 
%>
<% _.forEach(list, function(item_set){ %><%=
    item_set.date 
    + "\t" +
    item_set.behavior_type 
    + "\t" +
    item_set.memo 
    + "\t" +
    item_set.amount 
    + "\t" +
    item_set.category 
    + "\t" +
    item_set.account 
    + "\t" +
    item_set.to_account %>
<% }); %></textarea>