<div class="page-header">
    <h1>
        <%= polyglot.t('Result') %>
        <small>
            <%= year ? year : '' %><%= month ? '-' + month : ''%>
        </small>
    </h1>
</div>
<ul class="nav nav-pills">
    <% if(prev_month_link){ %>
        <li>
            <a href="<%= prev_month_link %>" title="prev month">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </li>
    <% } %>
    <% if(next_month_link){ %>
        <li>
            <a href="<%= next_month_link %>" title="next month">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </li>
    <% } %>
    <li>
        <a href="#statistics/<%= current_year %>">
            <%= polyglot.t('Yearly') %>
        </a>
    </li>
    <li>
        <a href="#statistics/<%= current_year %>/<%= current_month %>">
            <%= polyglot.t('Monthly') %>
        </a>
    </li>
    <li>
        <a href="#statistics">
            <%= polyglot.t('Whole') %>
        </a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr class="<%= balance_class %> text-<%= balance_class %>">
            <th><%=polyglot.t('Balance')%></th>
            <th class="text-right"><%= MMB.util.number_format(balance) %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%=polyglot.t('Withdrawal')%></th>
            <td class="text-right"><%= MMB.util.number_format(withdrawal) %></td>
        <tr>
        <tr>
            <th><%=polyglot.t('Withdrawal-like transfer')%></th>
            <td class="text-right"><%= MMB.util.number_format(withdrawal_like_transfer) %></td>
        <tr>
        <tr>
            <th><%=polyglot.t('Withdrawal-like')%></th>
            <td class="text-right"><%= MMB.util.number_format(withdrawal_like) %></td>
        <tr>
        <tr>
            <th><%=polyglot.t('Deposit')%></th>
            <td class="text-right"><%= MMB.util.number_format(deposit) %></td>
        </tr>
        <tr>
            <th><%=polyglot.t('Deposit-like transfer')%></th>
            <td class="text-right"><%= MMB.util.number_format(deposit_like_transfer) %></td>
        </tr>
        <tr>
            <th><%=polyglot.t('Deposit-like')%></th>
            <td class="text-right"><%= MMB.util.number_format(deposit_like) %></td>
        </tr>
        <tr>
            <th><%=polyglot.t('Savings')%></th>
            <td class="text-right"><%= MMB.util.number_format(savings) %></td>
        </tr>
    </tbody>
</table>

<h2><%= polyglot.t('Balance by account') %></h2>

<table class="table">
    <tbody>
        <% _.forEach(by_account, function(account_balance){ %>
            <tr>
                <th><%= account_balance.name %></th>
                <td class="text-right"><%= MMB.util.number_format(account_balance.amount) %></td>
            <tr>
        <% });%>
    </tbody>
</table>