<div class="page-header">
    <h1>
        <%= polyglot.t('Transition') %>
        <small>
            <%= year ? year : '' %>
        </small>
    </h1>
</div>

<% _.forEach(list, function(row){ %>
    <h2><%= row.time %></h2>
    <ul class="list-group">
        <li class="list-group-item">
            <%= polyglot.t('Asset') %>
            <span class="pull-right"><%= MMB.util.number_format(row.asset) %></span>
        </li>
        <li class="list-group-item">
            <%= polyglot.t('Dept') %>
            <span class="pull-right"><%= MMB.util.number_format(row.dept) %></span>
        </li>
        <li class="list-group-item">
            <%= polyglot.t('Pure asset') %>
            <span class="pull-right"><%= MMB.util.number_format(row.pure_asset) %></span>
        </li>
        <li class="list-group-item list-group-item-info">
            <%= polyglot.t('By Account') %>
        </li>
        <% _.forEach(account_yearly_balance, function(entry){
            if( ! entry.yearly_balance[row.time]){
                return true;
            } %>
            <li class="list-group-item">
                <%= entry.account_name %>
                <span class="pull-right">
                    <%= MMB.util.number_format(entry.yearly_balance[row.time]) %>
                </span>
            </li>
        <% }); %>
    </ul>
<% }); %>