<div class="page-header">
    <h1><%= polyglot.t('Weekly') %></h1>
</div>
<div class="input-group date-nav js-date-nav">
    <span class="input-group-btn">
        <button class="btn btn-default js-weekly-change-days-btn" data-days="-7" title="-7 days" type="button">
            <small><a class="glyphicon glyphicon-arrow-left js-weekly-change-days-btn plain-a" data-days="-7"></a></small>
        </button>
        <button class="btn btn-default js-weekly-change-days-btn" data-days="today" title="today" type="button">
            <small><a class="glyphicon glyphicon-stop js-weekly-change-days-btn plain-a" data-days="today"></a></small>
        </button>
        <button class="btn btn-default js-weekly-change-days-btn" data-days="+7" title="+7 days" type="button">
            <small><a class="glyphicon glyphicon-arrow-right js-weekly-change-days-btn plain-a" data-days="+7"></a></small>
        </button>
    </span>
    <input type="date" class="form-control js-weekly-basic-date" value="<%= week_data[0].date %>">
    <span class="input-group-btn">
        <button class="btn btn-default js-weekly-change-date" type="button">Go!</button>
    </span>
</div><!-- /input-group -->
<form class="form-inline" role="form">
    <div class="form-group js-visible-behavior-type">
        <label class="control-label">
            <%= polyglot.t('Show type: ') %>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="withdrawal" <%= visible_behavior_type.indexOf('withdrawal') > -1 ? "checked" : '' %> > 
            <%= polyglot.t('Withdrawal') %>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="deposit" <%= visible_behavior_type.indexOf('deposit') > -1 ? "checked" : '' %>> 
            <%= polyglot.t('Deposit') %>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="transfer" <%= visible_behavior_type.indexOf('transfer') > -1 ? "checked" : '' %>> 
            <%= polyglot.t('Transfer') %>
        </label>
    </div>
</form>

<% _.forEach(week_data, function(data){ %>
<h2 class="weekly-title"><%= data.date %> <span class="weekly-day-of-the-week">(<%= data.day_of_the_week %>)</span></h2>
<%
var list = data.list;
if(data.list.length == 0){
%><p><%= polyglot.t('No content.') %></p><%
return true;
}
%>
<table class="table table-striped js-weekly-table">
    <colgroup>
        <col style="width: 65%"/>
    </colgroup>
    <% _.forEach(data.list, function(item_set){ %>
        <tr data-id="<%= item_set.item.getId() %>" 
            data-behavior-type="<%= item_set.item.get('behavior_type') %>"
            <%= visible_behavior_type.indexOf(item_set.item.get('behavior_type')) === -1 ? "style='display: none'" : "" %> 
            class="js-item-row">
            <td>
                <a href="#register/<%= item_set.item.getId() %>">
                    <%= item_set.item.get('memo') %>
                </a>
                <small class="weekly-category text-muted">
                    <% if(item_set.item.get('behavior_type') == 'deposit'){ %>
                        <span class="label label-success"><%= polyglot.t('Deposit') %></span>
                    <% } %>

                    <% if(item_set.item.get('behavior_type') == 'deposit' || item_set.item.get('behavior_type') == 'withdrawal'){ %>
                        <%= item_set.cat.get('cat1') %>:<%= item_set.cat.get('cat2') %>
                    <% } %>

                    <% if(item_set.item.get('behavior_type') == 'transfer'){ %>
                        <span class="label label-info"><%= polyglot.t('Transfer') %></span>
                        <%= item_set.account.get('name') %>
                        <%= polyglot.t('->')%>
                        <%= item_set.to_account.get('name') %>
                    <% } %>
                </small>
            </td>
            <td class="text-right" data-amount="<%= item_set.item.get('amount') %>">
                <%= MMB.util.number_format(item_set.item.get('amount')) %>
            </td>
        </tr>
    <% }); %>
    <tr>
        <td><strong><%= polyglot.t('withdrawal') %> <%= polyglot.t('Sum') %></strong></td>
        <td class="text-right">
            <strong><%= MMB.util.number_format(data.sum) %></strong>
        </td>
    </tr>
</table>
<% }); %>